body {
  display: block;
  margin: 0;
}
.wrapper {
  height: 50px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid black;
  /* background-color: black; */
}
.logo {
  float: left;
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0 10px 5%;
  /* margin-left: 5%; */
}
.logo a {
  text-decoration: none;
  /* color: white; */
  color: black;
}

.accout_logout .accout {
  float: right;
  font-size: 22px;
  font-weight: 600;
  margin: 10px 2% 10px 0;
}
.accout_logout .logout {
  float: right;
  font-size: 22px;
  font-weight: 900;
  margin: 10px 5% 10px 0;
}
.logout a i {
  /* color: white; */
  color: black;
}
.clear {
  clear: both;
}
.sidebar {
  position: fixed;
  top: 51px;
  background: black;
  width: 18%;
  height: 100%;
}
.sidebar .menu_lists {
  list-style: none;
}
.menu_lists li {
  font-size: 20px;
  font-weight: 400;
  margin-left: 2%;
  margin-top: 10%;
}
.menu_lists li a {
  color: white;
  text-decoration: none;
}
.menu_lists li:hover {
  background-color: rgb(158, 160, 161);
  border-radius: 2px;
  /* padding: 100px; */
  width: 80%;
  /* margin-left: 20px; */
}
.main {
  /* border: 1px solid black; */
  position: fixed;
  width: 80%;
  height: 100%;
  float: right;
  right: 0;
  /* background-color:rgb(141, 147, 163); */
  /* background: red; */
  /* border-radius: 10px;; */
}
.main_content {
  padding: 20px;
}
table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  /* margin: 5px; */
  padding: 5px;
  background-color: white;
}
thead {
  font-size: 20px;
}
.loc,
.addsp {
  text-align: right;
}

.addsp {
  /* font-weight: 700; */
}
.addsp a {
  border: 1px solid black;
  text-decoration: none;
  padding: 1px 10px 1px 10px;
  color: black;
  border-radius: 5px;
}
.lists_sp {
  width: 100%;
}
tbody {
  font-size: 18px;
  font-weight: 500;
}
.id {
  width: 5%;
  text-align: center;
}
.brand,
.gia {
  width: 10%;
  text-align: center;
}
.anh {
  width: 20%;
}
.anh img {
  width: 100%;
}
.name {
  width: auto;
}
.edit {
  width: 5%;
}
.edit a {
  text-decoration: none;
  color: black;
}
.delete {
  width: 5%;
}
.delete a {
  color: black;
}
/* .mainsp {
  background-color: red;
} */
/* .form_them form {
  background-color: red;
} */

.user_info .iduser {
  width: 5%;
  text-align: center;
}
.user_info .username {
  width: 25%;
  text-align: center;
}
.user_info .sdt {
  width: 10%;
  text-align: center;
}
.user_info .mail {
  width: 15%;
  text-align: center;
  
}

.user_info .datedk {
  width: 10%;
  text-align: center;
}
.user_info .chitiet {
  width: 8%;
}
th.iduser {
  width: 5%;
}
.main_content .formsp {
  position: static;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  /* align-items: center; */
  margin: 10% 38% 0 38%;
  width: 25%;
  float: right;
  justify-content: center;
  border-radius: 10px;
}
.main_content .formsp .addsp,
.main_content .formsp .brand,
.main_content .formsp .addsp,
.main_content .formsp .anhsp,
.main_content .formsp .tensp,
.main_content .formsp .gia {
  width: 70%;
  text-align: left;
  font-size: 16px;
  border-radius: 5px;
}
.main_content .formsp input {
  margin-bottom: 10px;
}
.main_content .formsp a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 2px 5px 2px 5px;
}

.info a {
  text-decoration: none;
  color: black;
  align-content: center;
}
.main_content .edit_user form input {
  margin-bottom: 10px;
}
.form_input table {
  width:98%;
  /* border-radius: 10px; */
}
.form_input table,th,td{
  border-radius: 5%;
}
.form_table .submit_capnhat{
  text-align: center;
}
#user_info .head .searchbox {
  /* float: right; */
  /* justify-content: right; */
  top: 20%;
  position: fixed;
  right: 5%;
  /* font-size: 28px; */
  /* align-content: flex-end; */
}
#user_info form .box {
  font-size: 18px;
  border-radius: 4px;
  right: 10%;
}

#user_info form .sub {
  color: black;
  font-size: 18px;
  /* top: 15%;
  position: fixed; */
  right: 5%;
}
#user_info .head {
  margin: 10%;
}
